<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" (click)="logout()">Logout</a>
    </div>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <alert></alert>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    
    <p>
        <a href="https://manager-app-67e6b.firebaseapp.com/" target="_top">Angular & Firebase Items CRUD</a>
    </p>

    <p>
        <a href="https://cocky-spence-492457.netlify.com/#/" target="_top">VueJs & Firebase </a>
    </p>
    <p>
        <a href="https://chris-mulei-01.herokuapp.com/" target="_top">Example Django Website</a>
    </p>
    <p>
        <a href="https://chris-site-2-advanced.herokuapp.com/" target="_top">Real Estate App</a>
    </p>
    
    
</div>